h1, p, h2,h3 {
    text-align: center;
    font-family: "Comfortaa", sans-serif;
}

.bg{
    margin:auto;
    width: 75%;
    background-color: rgb(164, 237, 144);
    padding-bottom:2px;
}
ol, ul{
    font-family: "IBM Plex Serif", serif;
}
body{
    background-image: url(../img/brownie-recipe.jpg);
}

.middle{
    margin:auto;
    width: 75%;
    background: #e3d2b8;
    background: linear-gradient(90deg, #f0f0f0 0%, #a0d090 100%);
    padding-bottom: 10px;
}